.user-profile-box {
    background: #fff;
    width: 100%;
    color: #1a1a1a;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    background-color: #ffffff;
}